body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  margin-top: 0;
  background: linear-gradient(21deg, #10abff, #1beabd);

  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  background-color: cornflowerblue;
  color: white;
  border: transparent;
  height: 35px; 
  width: 160px;
  border-radius: 8px;
}
.btn:hover{
  background-color: rgb(73, 106, 168);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn:active {
  background-color: rgb(73, 106, 168);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.deleteBtn{
  background-color:rgb(233, 57, 174);
  color: black;
  border: transparent;
  height: 35px; 
  width: 100px;
  border-radius: 8px;
  
}
.deleteBtn:hover{
  background-color:rgb(199, 49, 149);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.deleteBtn:active {
  background-color:rgb(161, 40, 121);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.logoutBtn{
  background-color: #1beabd;
  color: black;
  border: transparent;
  height: 35px; 
  width: 100px;
  border-radius: 8px;
}
.logoutBtn:hover {
  background-color: #17c09b;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.logoutBtn:active {
  background-color: #139276;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input {
	

	position:relative;
	

	font-size: 1.5em;
	

	background: linear-gradient(21deg, #10abff, #1beabd);

	padding: 3px;
	

	display: inline-block;

	border-radius: 9999em;

	}
.translateSigns{
  list-style: none;
    padding-left: 0;
    margin-left: 0;
  background: linear-gradient(21deg, #10abff, #1beabd);
}
.liSigns{
  display: inline;
}
.box1{
  text-align: center;

  margin-left:30%;
  margin-right: 30%;
}
.navDiv{
  background: linear-gradient(21deg, #10abff, #1beabd);
  overflow: hidden;

}
.navProfile{
  float: right;
  background-color: cornflowerblue;
  color: white;
  border: transparent;
  height: 35px; 
  width: 160px;
  border-radius: 8px;
  list-style-type:none;
  text-align: center;
} 
.navTranslation{
  float: left;
  background-color: cornflowerblue;
  color: white;
  border: transparent;
  height: 35px; 
  width: 160px;
  border-radius: 8px;
  list-style-type:none;
  text-align: center;

}  
